.initial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DC2626;
    height: 100vh;
    color: #fff;
    gap: 1rem;
    &__text {
        font-size: 2.5rem;
    }
}

.choices {
    display: flex;
    gap: 1.5rem;
    .choice {
        font-size: 4.2rem;
        font-weight: 500;
        padding: .75rem 2rem;
        color: #DC2626;
        background: #fff;
        border-radius: .3rem;
        cursor: pointer;
    }
}